
.banner{
    background-color: #36383b;
    color: white;
}

.banner-pic{
    background-image: url(images/codebanner.png);
    background-size: 1000px 500px;
    color: white;
    background-position: center;
    padding: 100px;
}

.black-highlight{
    background-color: rgba(0, 0, 0, 0.75);
    /* opacity: 0.5; */
}